@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Light.ttf') format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Medium.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-SemiBold.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: 600;
}

body {
  margin: 0
}

h1,
h2,
h3,
p,
label,
input,
span {
  @apply font-spaceGrotesk
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
}